<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="logFilename" value="${specialfolder:folder=CommonApplicationData}\romcenter\romcenter" />
  <variable name="VerboseLayout" value="${longdate} ${level:upperCase=true} ${message} (${callsite:includSourcePath=true})"/>
  <variable name="ExceptionVerboseLayout" value="${VerboseLayout} (${stacktrace:topFrames=10}) ${exception:format=ToString}"/>
  <targets>
    <target name="xmlFile"
            xsi:type="File"
            layout="${log4jxmlevent:includeSourceInfo=true:includeCallSite=true:includeMDC=true:appInfo=true:includeNDC=true:includeNLogData=true:}"
            fileName="${logFilename}_xml.log"
            archiveFileName="${logFilename}_xml.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            concurrentWrites="true" />
    <target name="file"
            xsi:type="File"
            layout="${ExceptionVerboseLayout}"
            fileName="${logFilename}.log"
            archiveFileName="${logFilename}.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            concurrentWrites="true" />
  </targets>
  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Trace" writeTo="xmlFile" />
    <logger name="*" minlevel="Off" writeTo="file" />
  </rules>
</nlog>
